@font-face {
  font-family: "Playfair";
  src: url(./style/PlayfairDisplay-Regular.ttf);
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  height: 100vh;
}

.header {
  padding: 4px;
  background-color: rgb(185, 185, 185);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1Opx;
  font-family: "Playfair";
}
